nav img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    border: 2px solid beige;
    margin-top: -12px;
}

.loader{

    display: none;
}

.navbar {
	background-color:#3E2723 !important;
}

.nav-container{
	background-color:#3E2723 !important;
	margin-left: -32px !important;
	margin-right: -31px !important;
}

#dob {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.alert-row {
    margin-top: 60px !important;
}

td img {
    height: 100px !important;
}

#submitReq {
    margin-bottom: 10px;
}

table .start {
    display: none;
}

<!--Loader Bar-->

.dots {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  outline: 1px solid red;
}

.dot {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100000;
}

{
    opacity:0.7;
    background-color:#000 !important; 
    width:100%; 
    height:100%; 
    z-index:10000;
    top:0; 
    left:0; 
    position:fixed; 
  }

.dot:before {
  content: '';
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background: #FBD301;
  position: absolute;
  left: 50%;
  transform: translateY(0) rotate(0deg);
  margin-left: -17.5px;
  margin-top: -17.5px;
}

@keyframes dot-move {
  0% {
    transform: translateY(0);
  }
  18%, 22% {
    transform: translateY(-70px);
  }
  40%, 100% {
    transform: translateY(0);
  }
}

@keyframes dot-colors {
  0% {
    background-color: #FBD301;
  }
  25% {
    background-color: #FF3270;
  }
  50% {
    background-color: #208BF1;
  }
  75% {
    background-color: #AFE102;
  }
  100% {
    background-color: #FBD301;
  }
}

.dot:nth-child(5):before {
  z-index: 100;
  width: 45.5px;
  height: 45.5px;
  margin-left: -22.75px;
  margin-top: -22.75px;
  animation: dot-colors 4s ease infinite;
}

@keyframes dot-rotate-1 {
  0% {
    transform: rotate(-105deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.dot:nth-child(1) {
  animation: dot-rotate-1 4s 0s linear infinite;
}

.dot:nth-child(1):before {
  background-color: #FF3270;
  animation: dot-move 4s 0s ease infinite;
}

@keyframes dot-rotate-2 {
  0% {
    transform: rotate(165deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

.dot:nth-child(2) {
  animation: dot-rotate-2 4s 1s linear infinite;
}

.dot:nth-child(2):before {
  background-color: #208BF1;
  animation: dot-move 4s 1s ease infinite;
}

@keyframes dot-rotate-3 {
  0% {
    transform: rotate(435deg);
  }
  100% {
    transform: rotate(810deg);
  }
}

.dot:nth-child(3) {
  animation: dot-rotate-3 4s 2s linear infinite;
}

.dot:nth-child(3):before {
  background-color: #AFE102;
  animation: dot-move 4s 2s ease infinite;
}

@keyframes dot-rotate-4 {
  0% {
    transform: rotate(705deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

.dot:nth-child(4) {
  animation: dot-rotate-4 4s 3s linear infinite;
}

.dot:nth-child(4):before {
  background-color: #FBD301;
  animation: dot-move 4s 3s ease infinite;
}

.text{

    position: absolute;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: 72%;
    left: 45%;
}

.loader{

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000;
}